
html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
}

h1{
  font-size: 80px;
}

.App {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.gradient {
    transform: translateY(30px);
    opacity: 0;
    animation: 1s ease 0.2s 1 normal forwards running fadeUp;
    @keyframes fadeUp {
      0% {
        transform: translateY(30px);
        opacity: 0;
      }
      100% {
        transform: translateY(0px);
        opacity: 1;
      }
    }
    .gradient:nth-child(1) {
      animation-delay: 0s;
    }
    .gradient:nth-child(2) {
      animation-delay: 0.4s;
    }
}

.gradient-text {
    font-size: calc(8px + 4vmin);
    font-family: 'Noto Sans JP', sans-serif;
    color: #3f3455;
    white-space: nowrap;
}


.circle {
  transform: translateY(30px);
  opacity: 0;
  animation: 1.2s ease 1s 1 normal forwards running fadeUp;
  @keyframes fadeUp {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

.circle2 {
  transform: translateY(30px);
  opacity: 0;
  animation: 2.5s ease 1.5s 1 normal forwards running fadeUp;
  @keyframes fadeUp {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}


.menu-btn {
  z-index: 5;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease-in-out;
  width: 40px;
  height: 40px;
}
.burger{
  width: 25px;
  height: 3px;
  background: black;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.burger::before,
.burger::after{
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: black;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.burger::before{
  transform: translateY(-8px);
}
.burger::after{
  transform: translateY(8px);
}
/* ANIMATION */
.menu-btn.open .burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}


  
/* Frame Motion*/
