
html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
}

.App {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

